@page "/TestPages/UsersDirectAccessDB"
@inject IApplicationUserRepository ApplicationUserRepository
@inject TestModelServiceDirectAccessDb TestModelServiceDirectAccessDb
@*DevExpress Modal 예제*@
@using System
@using System.ComponentModel.DataAnnotations
@using DevExpress.Blazor


<h2>Direct Access Database Sample</h2>

@if (applicationUsers == null)
{
    <p><em>Loding...</em></p>
    <div class="spinner-border" />
}
else
{
    <h3>Users by Direct Access Database</h3>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>UserName(C)</th>
                <th>ShaipName</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var applicationUser in applicationUsers)
            {
                <tr>
                    <td>@applicationUser.Id</td>
                    <td>@applicationUser.UserName</td>
                    <td>@applicationUser.ShaipName</td>

                </tr>
            }
        </tbody>
    </table>
}

<!-- Using SQL Query -->
@if (testModels == null)
{
    <p><em>testModels Loding...</em></p>
    <div class="spinner-border" />
}
else
{
    <hr />
    <h3> Users Direct Query to DB</h3>
    <table class="table">
        <thead>
            <tr>

                <th>ApplyNo</th>
                <th>Charge</th>
                <th>UserId</th>

                <th>CDateTime</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var testModel in testModels)
            {
                <tr>
                    <td>@testModel.RequestNo</td>
                    <td>@testModel.Charge</td>
                    <td>@testModel.UserId</td>
                    <td>@testModel.ShaipName</td>
                    <td>@testModel.CDateTime</td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Using Stored Procedure -->
@if (testModelsEnum == null)
{
    <p><em>testModels Loding...</em></p>
    <div class="spinner-border" />
}
else
{
    <hr />
    <h3> Users By Stored Procedure Using EF</h3>
    <table class="table">
        <thead>
            <tr>

                <th>ApplyNo</th>
                <th>UserId</th>
                <th>ShaipName</th>
                <th>Charge</th>
                <th>CDateTime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var testModel in testModelsEnum)
            {
                <tr>
                    <td>@testModel.RequestNo</td>
                    <td>@testModel.UserId</td>
                    <td>@testModel.ShaipName</td>
                    <td>@testModel.Charge</td>
                    <td>@testModel.CDateTime</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private IList<ApplicationUser> applicationUsers;
    private List<TestModel> testModels;
    //private List<TestModel> testModelsEnum;
    private IEnumerable<TestModel> testModelsEnum;


    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(500);
        applicationUsers = await ApplicationUserRepository.GetApplicationUsers();


        testModels = await TestModelServiceDirectAccessDb.GetTestModelsByQueryAsync();
        testModelsEnum = await TestModelServiceDirectAccessDb.GetTestModelsByQueryAsyncEnum();
              
    }

    
}
