@page "/"

@inject NavigationManager NavigationManager

@{
    RenderFragment<DemoProductInfo> DemoProduct = (info) =>
    @<div class="col-xl-6 col-sm-6 col-xs-12">
        <div class="jumbotron shadow-sm demo-product" @onclick="@(() => { NavigationManager.NavigateTo(info.PageUri); })">
            <div class="media p-1">
                <span class="mr-3 bg-primary demo-product-icon index-pannel-icon-@info.IconName" title="@info.Title"></span>
                <div class="media-body">
                    <h4 class="mt-0 text-body">@info.Title</h4>
                    <span class="demo-product-info text-muted">@info.Description</span>
                </div>
            </div>
        </div>
    </div>;
}

<div class="demo-description demo-products">
    <h1 class="mb-4">Shaip</h1>

    <p class="mb-5">샤입(Shaip)은 중국의 온라인 마켓(타오바오,1688,VIP,징동,쑤닝 등) 상품 구매를 전문 대행하고 있습니다.</p>

    <div class="row mb-3">
        @foreach (var info in DemoProductsInfo)
        {
            @DemoProduct.Invoke(info)
        }
    </div>
</div>



@code {
    class DemoProductInfo
    {
        public string Title { get; set; }

        public string PageUri { get; set; }

        public string IconName { get; set; }

        public string Description { get; set; }
    }

    List<DemoProductInfo> DemoProductsInfo = new List<DemoProductInfo>() {
        new DemoProductInfo {
            Title = "주문대행 수수료 제로",
            PageUri = "IntroOrder",
            IconName = "order",
            Description = "구매하실 상품만 콕 찍어주세요. 수수료 없이 주문해 원하는 배송지로 발송해 드립니다. 상품의 반품, 환불 등의 골치아픈 업무도 대신해 드립니다."
        },
        new DemoProductInfo {
            Title = "결제대행",
            PageUri = "IntroPayment",
            IconName = "payment",
            Description = "1688, 타오바오, VIP 등 결제에 문제가 있으세요? 대신 결제해 드립니다."
        },
        new DemoProductInfo {
            Title = "구매대행",
            PageUri = "IntroPurchasing",
            IconName = "purchasing",
            Description = "Fast and lightweight chart component with 20+ data presentation types."
        },
        new DemoProductInfo {
            Title = "배송대행",
            PageUri = "IntroShipping",
            IconName = "shipping",
            Description = "A fully-featured scheduling solution that easily displays a detailed snapshot of events/appointments in your web application across a single day or a week."
        }
        @*
        ,
        new DemoProductInfo {
            Title = "Data Editors",
            PageUri = "Calendar",
            IconName = "editors",
            Description = "An extensive suite of data editors to be used standalone or within container components."
        },
        new DemoProductInfo {
            Title = "Navigation and Layout",
            PageUri = "FormLayout",
            IconName = "navigation",
            Description = "A suite of navigation components including TreeView and Pager, in conjunction with layout components that are designed to make your UI adaptive."
        }
        *@
    };
}
